@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;1,500&family=Orbitron:wght@500&family=Playfair+Display&family=Roboto&display=swap');

body {
  background: url('../images/old-trafford.jpg') no-repeat center center;
  background-size: cover;
  backdrop-filter: blur(5px) saturate(100%);
  -webkit-backdrop-filter: blur(5px) saturate(100%);
  background-color: rgba(17, 25, 40, 0);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-size: 5.4rem;
  color: white;
  margin-bottom: 5rem;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  background: rgb(247,247,247);
  background: radial-gradient(circle, rgba(247,247,247,1) 2%, rgba(195,23,23,1) 81%);
  border-radius: 6px;
}

.btn:hover {
  box-shadow: -2px 1px 0px 12px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px 1px 0px 12px rgba(0,0,0,0.75);
 -moz-box-shadow: -2px 1px 0px 12px rgba(0,0,0,0.75);
}

#home i {
  font-size: 2.5rem;
  margin-left: 1rem;
}

/* How to play */

#rules {
  font-size: 5rem;
  padding-bottom: 50px;
  padding-left: 15px;
}

/* play screen */

.questions {
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding: 20px;
}

.answers div {
  padding: 10px 0 0 0;
  font-size: 16px;
}

.answers div:hover {
  cursor: pointer;
  color: #FBCB43;
}

.answers {
  padding: 0px 0 10px 0px;
}

.answers div {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 15px;
  border-top: 1px solid grey;
}

.answers div:first-child {
  border: none;
}

.checker {
  width: 200px;
  margin: 0 auto;
}

.correct, .false {
  background-color: #109D59;
  width: 60px;
  height: 30px;
  line-height: 30px;
  padding-left: 4px;
  float: left;
  margin-left: 2px;
  margin-top: 2px;
}

.false {
  background-color: #DC4437;
}

.checkAnswers h3 {
 font-size: 2rem;
}